<%
var items = cart.items();
var settings = cart.settings();
var hasItems = !!items.length;
var priceFormat = { format: true, currency: cart.settings("currency_code") };
var totalFormat = { format: true, showCode: true };
%>
<form  id="payment-form" method="post" class="<% if (!hasItems) { %>minicart-empty<% } %>" action="<%= config.action %>" target="<%= config.target %>">
    <button type="button" class="minicart-closer">&times;</button>
    <ul>
        <% for (var i= 0, idx = i + 1, len = items.length; i < len; i++, idx++) { %>
        <li class="minicart-item">
            <div class="minicart-details-name">
                <a class="minicart-name" href="<%= items[i].get("href") %>"><%= items[i].get("item_name") %></a>
                <ul class="minicart-attributes">
                    <% if (items[i].get("item_number")) { %>
                    <li>
                        <%= items[i].get("item_number") %>
                        <input type="hidden" name="item_number_<%= idx %>" value="<%= items[i].get("item_number") %>" />
                    </li>
                    <% } %>
                    <% if (items[i].discount()) { %>
                    <li>
                        <%= config.strings.discount %> <%= items[i].discount(priceFormat) %>
                        <input type="hidden" name="discount_amount_<%= idx %>" value="<%= items[i].discount() %>" />
                    </li>
                    <% } %>
                    <% for (var options = items[i].options(), j = 0, len2 = options.length; j < len2; j++) { %>
                        <li>
                            <%= options[j].key %>: <%= options[j].value %>
                            <input type="hidden" name="on<%= j %>_<%= idx %>" value="<%= options[j].key %>" />
                            <input type="hidden" name="os<%= j %>_<%= idx %>" value="<%= options[j].value %>" />
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="minicart-details-quantity">
                <input class="minicart-quantity" data-minicart-idx="<%= i %>" name="quantity_<%= idx %>" type="text" pattern="[0-9]*" value="<%= items[i].get("quantity") %>" autocomplete="off" />
            </div>
            <div class="minicart-details-remove">
                <button type="button" class="minicart-remove" data-minicart-idx="<%= i %>">&times;</button>
            </div>
            <div class="minicart-details-price">
                <span class="minicart-price"><%= items[i].total(priceFormat) %></span>
            </div>
            <input type="hidden" name="item_name_<%= idx %>" value="<%= items[i].get("item_name") %>" />
            <input type="hidden" name="amount_<%= idx %>" value="<%= items[i].amount() %>" />
            <input type="hidden" name="shipping_<%= idx %>" value="<%= items[i].get("shipping") %>" />
            <input type="hidden" name="shipping2_<%= idx %>" value="<%= items[i].get("shipping2") %>" />
        </li>
        <% } %>
    </ul>
<table class="table table-condensed">
<tr> <td colspan="2">
<div id="payment-errors"></div>
</td></tr>
<tr> <td colspan="2">
        You can pay using: Mastercard, Visa, JCB, Discover, American Express, and Diners Club.
</td></tr>
<tr> <td colspan="2">
        <label>Card Number</label>
        <input type="text" size="17" autocomplete="off" class="card-number input-medium" value="4242424242424242">
      <label>CVC</label> <input type="text" size="2" autocomplete="off" class="card-cvc input-mini" value="123">
</td></tr>
<tr> <td colspan="2">
        <span class="help-block">Enter the number without spaces or hyphens.</span>
</td></tr>
<tr> <td colspan="2">
        <label>Expiration (MM/YYYY)</label>
        <input type="text" size="2" class="card-expiry-month input-mini" value="03">
        <span> / </span>
        <input type="text" size="4" class="card-expiry-year input-mini" value="2018">
</td></tr>
</table>

    <div class="minicart-footer">
        <input type="hidden" name="subTotal" value="<%= cart.subtotal() %>" />
        <% if (hasItems) { %>
            <div class="minicart-subtotal">
                <%= config.strings.subtotal %> <%= cart.total(totalFormat) %>
            </div>
            <button class="minicart-submit" type="submit" data-minicart-alt="<%= config.strings.buttonAlt %>"><%- config.strings.button %></button>
        <% } else { %>
            <p class="minicart-empty-text"><%= config.strings.empty %></p>
        <% } %>
    </div>
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <% for (var key in settings) { %>
        <input type="hidden" name="<%= key %>" value="<%= settings[key] %>" />
    <% } %>
</form>
